/* @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* html{
    background: #161616;
} */
h1, h2, h3, h4, h5, h6, body{
    /* font-family: 'IBM Plex Sans', sans-serif; */
    /* font-family: 'Libre Franklin', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Raleway', sans-serif;
}

#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #ffffff;
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.social-mail {
    color:rgb(199, 22, 16, 0.7)!important;
    transition:0.2s ease-in-out;
}
.social-mail:hover { 
    cursor: pointer;
    color:#C71610!important;
}
.social-github {
    color:rgba(252, 226, 5, 0.7)!important;
    transition:0.2s ease-in-out;
}
.social-github:hover { 
    cursor: pointer;
    color:#FCE205!important;
}
.social-linkedin {
    color:rgba(10, 102, 194, 0.7)!important;
    transition:0.2s ease-in-out;
}
.social-linkedin:hover { 
    cursor: pointer;
    color:#0A66C2!important;
}
.social-spotify {
    color:rgba(29, 185, 84, 0.7)!important;
    transition:0.2s ease-in-out;
}
.social-spotify:hover { 
    cursor: pointer;
    color:#1DB954!important;
}
.social-soundcloud {
    color:rgba(255, 51, 0, 0.6)!important;
    transition:0.2s ease-in-out;
}
.social-soundcloud:hover { 
    cursor: pointer;
    color:#ff3300!important;
}